body {
  height: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #000 50%,#2d2d3f 100%) fixed;
  color: #fff;
  font-size: 40px;
}

/* 
stars from this codepen: https://codepen.io/WebSonick/pen/vjmgu 
*/
* {
    margin: 0;
    padding: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:40%;
  display:block;
  overflow: hidden;
}

.stars {
  background:#000 url(/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling {
  background:transparent url(/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

#sentence {
  position: absolute;
  top: 400px;
  z-index: 100;
  width: 100%;
  text-align: center;
  font-family: 'Changa', sans-serif;
}

#heartContainer {
  position: absolute;
  top: 550px;
  z-index: 100;
  width: 100%;
  text-align: center;
  transform: scale(0.6);
}

#drawing {
  position: absolute;
  top: 100px;
  z-index: 200;
  width: 100%;
  text-align: center;
  display:block;
}

/* heart beat code from http://codepen.io/valentin/pen/sfnCE */

.heart {
  position: absolute;
  width: 100px;
  height: 90px;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -50px;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #fc2e5a;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
}

@keyframes pounding{
  0%{ transform: scale(1.5); }
  100%{ transform: scale(1); }
}

#spaceContainer {
  position: relative;
  margin: 0 auto;
  width: 750px;
  top: 200px;
  z-index: 999;
  border-bottom: 1px dashed #fff;
  height: 75px;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
}

#astronautContainer {
  position: absolute;
  top: -55px;
  height: 110px;
  width: 50px;
  padding: 0;
  margin: 0;
  opacity: 0;
  background: none;
  color: white;
  border: none;
  font-size: 18px;
}

#astronaut {
  position: absolute;
  left: 0px;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid #ff0000;
}

#parcelContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  border: 1px solid #0000ff;
  display: none;
}

#astronautContainer:not(.facingEarth):hover > #parcelContainer,
#astronautContainer:not(.facingEarth):focus > #parcelContainer {
  display: block;
}

#iss {
  position: absolute;
  left: 700px;
  height: 50px;
  width: 50px;
  border: 1px solid #00ff00;
}

#earth {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ead027;
}

#astronautContainer.facingEarth > #astronaut {
  transform: rotateY(180deg);
}


